{% extends 'Base/index.html.twig' %}

{% block body %}
    <div class="centrado">

        <img src="/images/n403.png" alt="Estado del firewall" title="Estado del firewall" style="width: 150px;" />
        <h2>La p&aacute;gina solicitada no se encuentra disponible en estos momentos. Disculpe las molestias</h2>
    </div>
{% endblock %}
