{% extends 'Base/index.html.twig' %}

{% block body %}

    <div class="h1 ui dividing header"></div>
    {# Para cuadrar el grid inferior #}
    <div class="ui container">
        <div class="ui raised segment">

        </div>
    </div>
<br/>
<br/>
{% endblock %}


