{#spinner de buscando#}
<div id="spinnerBuscando" class="ui inactive inverted dimmer">
    <div class="ui text loader"><strong>Buscando ...</strong></div>
</div>

{# spinner de eliminando #}
<div id="spinnerEliminando" class="ui inactive inverted dimmer">
    <div class="ui text loader"><strong>Eliminando ...</strong></div>
</div>

{#spinner de enviando#}
<div id="spinnerEnviando" class="ui inactive inverted dimmer">
    <div class="ui text loader"><strong>Enviando ...</strong></div>
</div>

{#spinner de guardando#}
<div id="spinnerGuardando" class="ui inactive inverted dimmer">
    <div class="ui text loader"><strong>Guardando ...</strong></div>
</div>

{#spinner de adjuntando #}
<div id="spinnerAdjuntando" class="ui inactive inverted dimmer">
    <div class="ui text loader"><strong>Adjuntando ...</strong></div>
</div>